body {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}

.container {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
}
.navbar {
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.links {
    display: flex;
    gap: 65px;
}

.icon {
    margin-top: 1.9%;
}
.header {
    height:90vh;
    width:100%;
    display: flex;
    justify-content: center;
}

.maintext {
    margin-top:6%;
    margin-left:9%;
    width:80%;
}

#introtitle {
    font-size: 11vh;
    margin-bottom: 2%;
}

#introtext {
    font-size: 3vh;
}

.projectcontainer {
    width: 100%;
    height: 140vh;
    display: flex;
    justify-content: center;
}

.projects {
    width: 76%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 5fr;
}

.projectsheader {
    text-align: center;
    grid-column: span 3;
    font-size: 2.5rem;
    font-weight: 100;
}

.projectitem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectarticle {
    background-color: white;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.projectimage {
    height: 87%;
    width: 100%;
    background-color: #F2F2F2;
}

.projecttitle {
    height: 13%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.projecttitle p {
    margin-top: 0;
}

.upcoming {
    text-decoration: line-through;
}

.itemname {
    width: 80%;
}

.bookmarkicon {
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.skills {
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.skillheader {
    flex-basis: 10%;
}

.skillcollage {
    flex-basis: 90%;
    width: 65%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.skillpanel {
    display: flex;
    justify-content: center;
    align-items: center;
}



#imagefloor {
    background-image: url("./gray-background.jpg");
    background-size: cover;
}
#imagewall {
    background-image: url("./gray-background-2.jpg");
    background-size: cover;
}
#imageangled {
    background-image: url("./gray-background-angled.jpg");
    background-size: cover;
}
#imageoutside {
    background-image: url("./gray-background-outside.jpg");
    background-size: cover;
}

#displayinformation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20%;
    padding-left: 5%;
    padding-right: 5%
}

.skilltitle {
    font-size: 4vh;
}

.skilldescription {
    font-size: 3vh;
}

.about {
    padding-top: 5vh;
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.abouttitle {
    font-size: 2.5rem;
}
.aboutinformation {
    width: 40%;
    margin-right: 25%;
}
.aboutinformation p {
    font-size: 1.9vh;
}

#abouteducation {
    padding-top: 5%;
}

#aboutexperience {
    padding-top: 3%;
}

#aboutrecreational {
    padding-top: 5%;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
}
.contacttitle {
    font-size: 2.5rem;
}

.contactinformation {
    width: 65%;
    display: flex;
    justify-content: center;
}

.linkcard {
    display: flex;
    font-size:2vh;
    justify-content: center;
    gap: 5px;
    width: 20%;
}

